@keyframes login_transition {
    0% {
        width: 50%;
        right: 0;
        left: auto;
    }
    35% {
        width: 65%;
        right: 0;
    }
    65% {
        width: 65%;
        right: 35%;
    }
    100% {
        width: 50%;
        right: 50%
    }
}

@keyframes signup_transition {
    0% {
        width: 50%;
        left: 0;
        right: auto;
    }
    35% {
        width: 65%;
        left: 0;
    }
    65% {
        width: 65%;
        left: 35%;
    }
    100% {
        width: 50%;
        left: 50%
    }
}

#loginMain {
    height: 100vh;
}

#loginBannerContainer {
    background-image: url("../assets/loginBanner.jpg");
    position: relative;
    background-position-x: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

#loginBannerContainer img {
    position: absolute;
    top: 1em;
    right: 2em;
}

#loginFormContainer {
    max-height: 100vh;
    overflow-y: scroll;
}

#login_signup_selector {
    position: relative;
    border-bottom: 1px solid #00000050;
}

#login_signup_selector::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 50%;
    border-bottom: 2px solid #00233B;
}

#login_signup_selector.left::after {
    left: 0;
    animation: login_transition ease-in-out 200ms;
}

#login_signup_selector.right::after {
    right: 0;
    animation: signup_transition ease-in-out 200ms;
}

#loginSelectorBtn,
#signupSelectorBtn {
    padding: .7em 0 .4em 0;
    border: none;
    background: transparent;
}

.form-control:focus {
    border-color: #00233B;
    box-shadow: none;
} 

.passwordRequirement {
    color: #00000080;
}

.passwordRequirement.invalid {
    color: red;
}

.passwordRequirement.valid {
    color: #1acc1a;
}

.form-control.disabled {
    background: #dddddd;
    cursor: default;
}

.form-control.disabled:focus {
    border-color: transparent !important;
}

@media screen and (max-width: 991px) {
    #loginFormContainer {
        max-height: fit-content;
    }
    #loginBannerContainer {
        display: none;
    }
}